
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <!-- <div class="bigb">
            <h1 class="titles">Your Daily Weather Report</h1>
            <div class="side">
                <div class= "box-1">
                
                </div>
                <div class='side1'>
                        <label for="texting" id ="labelt" class="tte"></label>
                        <textarea id="texting" class="temp" rows:"1" columns:"1"></textarea>
                </div>
            </div>
            <div id ='entryholder' class="box-2"> -->
          
            </div>
            <label id="lf" for="cityinput"> Enter the city you wish to visit: </label>
            <input id="cityinput" type="text" placeholder="Enter city here"></input>

       
            <label for="vacationdate"> Enter vacation date: </label>
            <input id="vacationdate" type="date"></input>
                        
            <label for="returndate"> Enter return date: </label>
            <input id="returndate" type="date"></input>

            <button id="button" class="button1"> Weather Generate!</button>

        </div>
    </body>
</html>